<div class="container">
  <h2>Finanças e Investimentos</h2>
  <button (click)="printPage()" class="btn btn-secondary no-print">
    Imprimir Gráficos
  </button>
  <h3>Gráficos de Área Empilhada</h3>
  <div  class="hidenIphone">
    <canvas baseChart
            [datasets]="stackedAreaChartData"
            [labels]="stackedAreaChartLabels"
            [options]="stackedAreaChartOptions"
            [legend]="stackedAreaChartLegend"
            [chartType]="stackedAreaChartType">
    </canvas>
  </div>
  <div class="showIphone">
    <canvas baseChart height="300"
            [datasets]="stackedAreaChartData"
            [labels]="stackedAreaChartLabels"
            [options]="stackedAreaChartOptions"
            [legend]="stackedAreaChartLegend"
            [chartType]="stackedAreaChartType">
    </canvas>
  </div>


  <h3>Gráficos de Barra Empilhada</h3>
  <div  class="hidenIphone">
    <canvas baseChart
            [datasets]="stackedBarChartData"
            [labels]="stackedBarChartLabels"
            [options]="stackedBarChartOptions"
            [legend]="stackedBarChartLegend"
            [chartType]="stackedBarChartType">
    </canvas>
  </div>
  <div class="showIphone">
    <canvas baseChart height="300"
            [datasets]="stackedBarChartData"
            [labels]="stackedBarChartLabels"
            [options]="stackedBarChartOptions"
            [legend]="stackedBarChartLegend"
            [chartType]="stackedBarChartType">
    </canvas>
  </div>
</div>
