.container {
  margin: 20px;
}

h2, h3 {
  text-align: center;
}

canvas {
  max-width: 100%;
}

/* Estilos para ocultar elementos durante a impressão */
@media print {
  .no-print {
    display: none;
  }
}
