<div class="container">
  <h2>Demografia</h2>

  <button (click)="exportToExcel()" class="btn btn-primary no-print">
    Exportar Gráficos para Excel
  </button>

  <button (click)="printPage()" class="btn btn-secondary no-print">
    Imprimir Gráficos
  </button>

  <div id="print-section">
    <h3>Gráficos de Pizza</h3>
    <div class="hidenIphone">
      <canvas baseChart
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [legend]="pieChartLegend"
              [chartType]="pieChartType">
      </canvas>
    </div>
    <div class="showIphone">
      <canvas baseChart height="300"
              [datasets]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [legend]="pieChartLegend"
              [chartType]="pieChartType">
      </canvas>
    </div>

    <h3>Gráficos de Área</h3>
    <div class="hidenIphone">
      <canvas baseChart
              [datasets]="areaChartData"
              [labels]="areaChartLabels"
              [options]="areaChartOptions"
              [legend]="areaChartLegend"
              [chartType]="areaChartType">
      </canvas>
    </div>
    <div class="showIphone">
      <canvas baseChart height="300"
              [datasets]="areaChartData"
              [labels]="areaChartLabels"
              [options]="areaChartOptions"
              [legend]="areaChartLegend"
              [chartType]="areaChartType">
      </canvas>
    </div>
  </div>
</div>
