/* You can add global styles to this file, and also import other style files */

/* Estilos para ocultar elementos durante a impressão */
@media print {
    .no-print {
      display: none !important;
    }
  }

.sombra{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (max-width: 600px) {
  .screen{
    height: .25rem !important;
  }
}
